html {

  margin: 0;
  padding: 0;

  box-sizing: border-box;

}

body {

  font-family: sans-serif;

  text-align: center;

  align-self: center;
  align-items: center;

  justify-content: center;
  justify-items: center;

  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-size: calc(12px + 2vw);

  background-color: black;
  color: white;
  
}


#bodyContainer {

  display: flex;
  flex-direction: column;

  width: 100%;
  margin-top: var(--header-height);

  align-content: center;
  align-self: center;
  align-items: center;

  justify-content: center;
  justify-self: center;
  justify-items: center;

}


#headerContainer {

  display: flex;
  flex-direction: row;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: fit-content;

  box-sizing: border-box;

  text-align: center;

  align-content: center;
  align-self: center;
  align-items: center;

  justify-self: center;
  justify-items: center;

  font-size: calc(10px + 1vw);

  background-color: rgb(255, 255, 255);
  color: black;

  border-radius: 10px;
  
}


#headerInfo {

  margin: 0;

  text-decoration: none;

}


#headerPhone {

  margin: 0;

  text-decoration: none;

}


#logoDiv {

  display: flex;

  width: fit-content;
  height: fit-content;

  text-align: center;

  align-content: center;
  align-self: center;
  align-items: center;

  justify-content: center;
  justify-items: center;

  margin: 1%;

}


#logo {

  min-width: 30px;

  max-width: 100px;

  align-content: center;
  align-self: center;
  align-items: center;

  justify-content: center;
  justify-self: center;
  justify-items: center;

  border-radius: 10px;

  pointer-events: none;

}


#phoneDiv {

  display: flex;
  flex-direction: column;

  width: 100%;

  text-align: center;

  align-content: center;

  align-items: center;

  justify-content: center;
  justify-self: center;
  justify-items: center;

  margin: 1%;

  font-size: calc(16px + 1vw);

  border: 2px solid white;

}


#mapContainer {

  width: 100%;

}


.mapButton {

  min-width: 250px;
  width: 25%;
  min-height: 50px;

  font-size: 75%;

  border-radius: 20px;

}
.mapButton:hover {

  cursor: pointer;

}


#mapsiFrame {

  width: 85%;
  min-height: 50%;
  height: 100%;

  border: 0;
  border-radius: 20px;

}


.menuImg {

  width: 85vw;
  max-width: 2048px;

  margin: 1%;

  border-radius: 20px;

}


@media (max-aspect-ratio: 1/1) {

  #logo {

    width: 30vw;

  }

  #phoneDiv {

    text-align: center;

    align-content: center;
    align-items: center;

    justify-content: center;
    justify-self: center;
    justify-items: center;

  }

  .menuImg {

    width: 100vw;

  }

}


@media (min-aspect-ratio: 1/1) {

  #logo {

    width: 25vw;

  }

  #phoneDiv {

    text-align: end;

    align-content: end;
    align-items: end;

    justify-content: end;
    justify-self: end;
    justify-items: end;

  }


  .menuImg {

    width: 85vw;

  }

}
