body {
  
  font-family: sans-serif;
  background-color: #fafafa;
  text-align: center;
  padding: 40px 10px;
  
}

#bodyDiv {

  background-color: rgba(0, 0, 0, 0.05);

}

#headerDiv {

  font-size: calc(24px + 1vh);
  
}

#subHeadDiv {

  font-size: calc(18px + 1vh);

}

#forwardDiv {

  font-size: calc(12px + 1vh);

}

#redirectDiv {

  text-align: center;

}

#relatedDiv {

  text-align: center;
  margin-top: 15px;

}

#nearbyP {

  font-size: 0.9em;
  font-style: italic;

}

#tryP {

  font-size: 0.75em;

}

#tryImg {

  min-width: 20%;
  max-width: 33.33%;
  border-radius: 8px;

}

#taglineDiv {
  
  color: rgba(0, 0, 0, 0.25);
  font-size: calc(8px + 1vh);

}
